<!DOCTYPE html>
<!-- 
  Team The Best Laptop - Jonathan W. [Loki] , Alif A. [The Eagle in the Sand], Kevin C. [Pipi] | Period 2
  SoftDev
  K14 - Form and Function/Observing forms in html/We investigated requests and responses in html files and how it related to flask & jinja as well as the function of the code to learn from it for future uses. 
  2021-10-14
 -->

<html>
  <head>
    <title>User Identified</title>
  </head>

  <body>
    <h1>Welcome, user {{ username }}.</h1>
    <h2>We apologize for the inconvenience.</h2>
    <p>Request Method Used: {{ request_method }}</p>
  </body>
</html>
